main, p {
    text-align: center;
    font-weight: 900;
    padding-top: 180px;
}

body {
    background-color: blue;
}

.big {
    font-size: 50px;
}


@media (min-width: 1000px){
    main, p {
        text-align: center;
        font-weight: 900;
        padding-top: 130px;
    }
    body {
        background-color:violet;
    }
    .big {
        color: pink;
        font-style: bold;
        font-variant: initial;
        font-size: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }
}

@media (min-width: 1100px){
    main, p {
        text-align: center;
        font-weight: 900;
        padding-top: 50px;
    }
    body {
        background-color:black;
    }
    .big {
        color: white;
        font-style: bold;
        font-variant: initial;
        font-size: 200px;
        font-family: cursive;
     }
}

@media (min-width: 1200px){
    main, p {
        text-align: center;
        font-weight: 900;
        padding-top: 50px;
    }
    body {
        background-color:red;
    }
    .big {
        color: aqua;
        font-style: italic;
        font-variant: small-caps;
        font-size: 200px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

@media (min-width: 1300px){
    main, p {
        text-align: center;
        font-weight: 900;
        padding-top: 130px;
    }
    body {
        background-color:green;
    }
    .big {
        color: white;
        font-style: normal;
        font-variant: initial;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 100px;
    }
}

@media (min-width: 1400px){
    main, p {
        text-align: center;
        font-weight: 900;
        padding-top: 130px;
    }
    body {
        background-color: orange;
    }
    .big {
        color: blue;
        font-style: bold;
        font-variant: small-caps;    
        font-size: 100px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
}