@media (min-width: 500px){
    .bt1, .bt2, .bt3, .bt4 {
        border: none;
        background: none;
    }
    img {
        width: 70px;
        margin-left: auto;
        margin-right: auto;
    }
    #specialimage{
        width:412px;
    }
    main, header{
        text-align: center;
        padding-top: 10px;
    }
}

@media (min-width: 600px){
    .bt1, .bt2, .bt3, .bt4 {
        border: none;
        background: none;
    }

    img {
        width: 97px;
        margin-left: auto;
        margin-right: auto;
    }
    #specialimage{
        width:547px;
    }
    main, header{
        text-align: center;
        padding-top: 20px;
    }
}

@media (min-width: 785px){
    .bt1, .bt2, .bt3, .bt4 {
        border: none;
        background: none;
    }

    img {
        width: 137px;
        margin-left: auto;
        margin-right: auto;
    }
    #specialimage{
        width:750px;
    }
    main, header{
        text-align: center;
        padding-top: 20px;
    }
}


